*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Viaoda Libre', serif;
    font-size: 16px;
    color:blue
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    display: flex;
    flex-direction: column;
}
.top-container{
    border-bottom: 1px solid black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color:white;
    background-color: #717171;
}
.main-container{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin-left: 3rem;
    padding-left: 3rem;
    font-size: 3rem;
    align-items: center;
    font-weight: 700;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    padding: 2rem;
    margin-left: 3rem; 
    font-size: 1.5rem;
    font-weight: bold;
}
.menu a:hover{
    color :red;
}
.other{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
}
.other a{
    margin-right: 4rem;
    padding-left: 2rem;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 2rem auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.view{
    display: flex;
    
}
.childview:hover img{
    transform: scale(1.02);
    
}
.childview{
    width: 100%;
    padding-left: 1rem;
}
.childview h2{
    text-align: center;
}
.childview img{
    width: 100%;
}

.title{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}
.title::before{
    content: '';
    position: absolute;
    left: 47%;
    bottom: 0;
    width: 5.8rem;
    height: 3px;
    background-color: #717171;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.feature{
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
}
.topproduct {
    width: calc(100% - 10px);
}
.topproduct img{
    padding-left: 10px;
}
.products{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    margin-left: 11.5%;
}
.topproduct h2{
    display: flex;
    justify-content: center;
}
.footproducts{
    display: flex;
    justify-content: center;
}

.productbutton{
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}
.productbutton i{
    font-size: 30px;
    margin-top: 2rem;
    color: white;
}
.products:hover .productbutton{
    opacity: 1;
    visibility: visible;
    position: absolute;
    transform: translateY(0);
}
.support{
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
}
.support-refund{
    background-color: rgba(168, 128, 54,0.3);
    margin-left: 5rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    max-width: 50%;
    min-width: 45%;
}
.support-refund i{
    display: flex;
    justify-content: center;
}
.support-refund h2{
    display: flex;
    justify-content: center;
}
.support-money{
    background-color: rgba(55, 121, 184, 0.3);
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
     max-width: 50%;
     min-width: 40%;
    border-radius: 5px;
    align-items: center;
}
.support-money i{
    display: flex;
    justify-content: center;
}
.support-money h2{
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 6rem;
    align-items: center;
}
.plan input{
    width: 30rem;
    height: 2rem;
    border: none;
}
.plan input:active{
    border: none;
}
.plan button{
    width: 2rem;
    height: 2rem;
}
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding-top: 2rem;
}
.brand a {
    color: white;
}
.contact a{
    color: white;
}
.follow{
    font-size: 2rem;
}
.menu-item{
    display: flex;
    flex-direction: column;

}
.menu-item a {
    color: white;
}
